
/* -- Navigation Bar -- */

.topnav {
    background-color: #3e4c55;
    overflow: hidden;
    font-size: large;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 25px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: #3e4c55;
  }

.topnav a.split {
  float: right;
  background-color: #3e4c55;
  color: white;
}

/* -- Titles -- */

h2 {
    color: #f3f3f3;
  }

h1 {
    color: white;
    text-align: center;
}

.title {
  font-size: 100px;
  text-align: center;
}

.nametitle {
  font-size: 75px;
  text-align: center;
}

.endusertitle {
  font-size: 75px;
  text-align: left;
}

/* -- Content -- */

p {
  color:#ffffff;
}

body {
  background-color: #293238;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
  border-width: 2.5px;
  border-collapse: collapse;
}

.outcontent {
  color:white;
  text-align: center;
  font-size: 45px;
}

.endusers {
  color: white;
  text-align: left;
  font-size: 45px;
}

.table {
  color: white;
  border: 15px white;
  font-size: 45px;
  text-align: center;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table, tr, td {
  border: 2px solid white;
  border-collapse: collapse;
}

tr, td {
  padding: 10px;
  text-align: center;
}