
/* -- Navigation Bar -- */

.topnav {
    background-color: #3e4c55;
    overflow: hidden;
    font-size: large;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 25px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: #3e4c55;
  }
  
.topnav a.active {
    background-color: #f3f3f3;
    color: #3e4c55;
  }

.topnav a.split {
  float: right;
  background-color: #3e4c55;
  color: white;
}

/* -- Titles -- */

h2 {
    color: #f3f3f3;
  }

h1 {
    color: white;
    text-align: center;
}

.title {
  font-size: xx-large;
}

.nametitle {
  font-size: x-large;
}

/* -- Content -- */

p {
  color:#ffffff;
}

body {
  background-color: #293238
}
